* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.section {
    min-width: 375px;
    width: 100vw;
    height: 100vh;
    min-height: 750px;
    background: #181818;
}

.section_title {
    position: relative;
    top: 5%;
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 5px;
    color: white;
    @media (min-width: 768px) {
        font-size: 3.6rem;
    }
    @media (min-width: 1024px) {
        font-size: 4rem;
    }
    @media (min-width: 1280px) {
        font-size: 4.4rem;
    }
    @media (min-width: 1414px) {
        font-size: 4.8rem;
    }
    &:nth-child(2) {
        color: lightblue;
    }
}

.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    @media (min-width: 768px) {
        width: 275px;
        height: 275px;
    }
    @media (min-width: 1024px) {
        width: 300px;
        height: 300px;
    }
}

.description {
    font-size: 1.4rem;
    @media (min-width: 768px) {
        font-size: 1.6rem;
    }
    @media (min-width: 1024px) {
        font-size: 1.8rem;
    }
    @media (min-width: 1280px) {
        font-size: 2rem;
    }
}

.nav {
    &_list {
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        min-width: 375px;
        width: 100vw;
    }
    &_item {
        width: 33.3333%;
        text-align: center;
        background-color: transparent;
    }
    &_link {
        display: block;
        color: white;
        font-size: 2rem;
        text-decoration: none;
        padding: 20px 10px;
    }
}