* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.section {
    min-width: 375px;
    width: 100vw;
    height: calc(100vh - 70px);
    min-height: 750px;
    background-color: rgb(24, 24, 24, 0.95)
}

.section_title {
    position: relative;
    top: 30px;
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 5px;
    @media (min-width: 768px) {
        font-size: 3rem;
    }
    @media (min-width: 1024px) {
        font-size: 4rem;
    }
    @media (min-width: 1280px) {
        font-size: 4.5rem;
    }
    @media (min-width: 1414px) {
        font-size: 5rem;
    }
    &:nth-child(2) {
        color: lightblue;
    }
}

.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    @media (min-width: 768px) {
        width: 275px;
        height: 275px;
    }
    @media (min-width: 1024px) {
        width: 300px;
        height: 300px;
    }
}

.description {
    font-size: 1.4rem;
    @media (min-width: 768px) {
        font-size: 1.6rem;
    }
    @media (min-width: 1024px) {
        font-size: 1.8rem;
    }
    @media (min-width: 1280px) {
        font-size: 2rem;
    }
}

.nav {
    &_list {
        z-index: 3;
        background-color: rgb(24, 24, 24);
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        min-width: 375px;
        width: 100vw;
    }
    &_item {
        width: 33.3333%;
        text-align: center;
        background-color: transparent;
    }
    &_link {
        display: block;
        text-decoration: none;
        padding: 10px 0;
    }
}

.link {
    &_border {
        background-color: white;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        @media (min-width: 768px) {
            width: 100px;
            height: 100px;
        }
    }
    &_icon {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
    }
}

.footer {
    text-align: center;
    line-height: 70px;
    height: 70px;
    width: 100vw;
    background-color: rgb(24, 24, 24)
}